.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/build/
android/.gradle/
android/local.properties
android/captures/
android/key.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# Web
web/flutter_service_worker.js

# macOS
macos/Pods/

# IDE
.idea/
.vscode/
*.swp
*.swo
